<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <input type="text" name="titulo">
        <p>Conteúdo</p>
        <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
        <button type="submit" id="salvar">Cadastrar postagem</button>
    </form>


    <script src="../public/formulario.js"></script>
</body>
</html>